ClienteItaliaPizza/Connected Services/Servicio/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AccesoBD2" />
  <xs:import schemaLocation="http://localhost:8080/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ServidrorPizzaItaliana" />
  <xs:import schemaLocation="http://localhost:8080/?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="BuscarProductoInternoPorNombre">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreProducto" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarProductoExternoPorNombre">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreProducto" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductoInterno">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AccesoBD2" minOccurs="0" name="productoInterno" nillable="true" type="q1:Producto" />
        <xs:element minOccurs="0" name="imagen" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="nombreReceta" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="categoria" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductoExterno">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ServidrorPizzaItaliana" minOccurs="0" name="productoExterno" nillable="true" type="q2:ProvisionVentaDirecta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ErrorAlRecuperarProducto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mensajeError" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerDatos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarPedidoADomicilio">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AccesoBD2" minOccurs="0" name="pedido" nillable="true" type="q3:PedidoADomicilio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarPedidoLocalCallCenter">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/AccesoBD2" minOccurs="0" name="pedido" nillable="true" type="q4:PedidoLocal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/AccesoBD2" minOccurs="0" name="cliente" nillable="true" type="q5:Cliente" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/AccesoBD2" minOccurs="0" name="direccionCliente" nillable="true" type="q6:Direccion" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/AccesoBD2" minOccurs="0" name="telefonoCliente" nillable="true" type="q7:Telefono" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarDatosPedidoADomicilio">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/AccesoBD2" minOccurs="0" name="pedido" nillable="true" type="q8:PedidoADomicilio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarDatosPedidoADomicilioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModificarDatosPedidoADomicilioResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarPedidoLocalCallCenter">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/AccesoBD2" minOccurs="0" name="pedido" nillable="true" type="q9:PedidoLocal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Datos">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ServidrorPizzaItaliana" minOccurs="0" name="clientes" nillable="true" type="q10:ArrayOfCliente" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/ServidrorPizzaItaliana" minOccurs="0" name="productos" nillable="true" type="q11:ArrayOfProductoDePedido" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/ServidrorPizzaItaliana" minOccurs="0" name="provisiones" nillable="true" type="q12:ArrayOfProvisionVentaDirecta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Mensaje">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mensaje" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotificacionClienteDePedido">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mensaje" nillable="true" type="xs:string" />
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/ServidrorPizzaItaliana" minOccurs="0" name="cliente" nillable="true" type="q13:Cliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarIngrediente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/AccesoBD2" minOccurs="0" name="provision" nillable="true" type="q14:Provision" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarProvisionDirecta">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/AccesoBD2" minOccurs="0" name="provision" nillable="true" type="q15:Provision" />
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/AccesoBD2" minOccurs="0" name="provisionDirecta" nillable="true" type="q16:ProvisionDirecta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Respuesta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mensajeError" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarIngredientePorNombre">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreProducto" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ingrediente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/AccesoBD2" minOccurs="0" name="prov" nillable="true" type="q17:Provision" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ErrorAlRecuperarIngrediente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mensajeError" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Editar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/AccesoBD2" minOccurs="0" name="provision" nillable="true" type="q18:Provision" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RespuestaEditarIngrediente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mensajeError" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerNombresDeRecetas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarProductoExterno">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/ServidrorPizzaItaliana" minOccurs="0" name="productoExterno" nillable="true" type="q19:ProvisionVentaDirecta" />
        <xs:element minOccurs="0" name="modificarImagen" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarProductoInterno">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/AccesoBD2" minOccurs="0" name="producto" nillable="true" type="q20:Producto" />
        <xs:element minOccurs="0" name="modificarImagen" type="xs:boolean" />
        <xs:element minOccurs="0" name="nombreReceta" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="imagen" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaDeRecetas">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="nombreDeRecetas" nillable="true" type="q21:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RespuestaModificarProducto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mensajeError" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecuperarProductos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Productos">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/ServidrorPizzaItaliana" minOccurs="0" name="productos" nillable="true" type="q22:ArrayOfProducto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ErrorAlRecuperarProductos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mensajeError" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IniciarSesion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contraseña" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DevuelveCuenta">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/ServidrorPizzaItaliana" minOccurs="0" name="cuenta" nillable="true" type="q23:CuentaUsuario1" />
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/ServidrorPizzaItaliana" minOccurs="0" name="empleado" nillable="true" type="q24:Empleado1" />
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/ServidrorPizzaItaliana" minOccurs="0" name="direccion" nillable="true" type="q25:Direccion1" />
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/ServidrorPizzaItaliana" minOccurs="0" name="rol" nillable="true" type="q26:Rol1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RespuestaLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mensaje" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarCuentaUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/AccesoBD2" minOccurs="0" name="cuenta" nillable="true" type="q27:CuentaUsuario" />
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/AccesoBD2" minOccurs="0" name="empleado" nillable="true" type="q28:Empleado" />
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/AccesoBD2" minOccurs="0" name="direccion" nillable="true" type="q29:Direccion" />
        <xs:element minOccurs="0" name="rol" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarCuentaUsuario2">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/AccesoBD2" minOccurs="0" name="empleado" nillable="true" type="q30:Empleado" />
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/AccesoBD2" minOccurs="0" name="direccion" nillable="true" type="q31:Direccion" />
        <xs:element minOccurs="0" name="rol" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RespuestaRCU">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mensaje" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarCuentaUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/AccesoBD2" minOccurs="0" name="cuenta" nillable="true" type="q32:CuentaUsuario" />
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/AccesoBD2" minOccurs="0" name="empleado" nillable="true" type="q33:Empleado" />
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/AccesoBD2" minOccurs="0" name="direccion" nillable="true" type="q34:Direccion" />
        <xs:element minOccurs="0" name="rol" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarCuentaUsuario2">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/AccesoBD2" minOccurs="0" name="empleado" nillable="true" type="q35:Empleado" />
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/AccesoBD2" minOccurs="0" name="direccion" nillable="true" type="q36:Direccion" />
        <xs:element minOccurs="0" name="rol" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RespuestaMCU">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mensaje" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerCuentas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmleadoGenerado" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DevuelveCuentas">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/ServidrorPizzaItaliana" minOccurs="0" name="cuenta" nillable="true" type="q37:CuentaUsuario1" />
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/ServidrorPizzaItaliana" minOccurs="0" name="empleado" nillable="true" type="q38:Empleado1" />
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/ServidrorPizzaItaliana" minOccurs="0" name="direccion" nillable="true" type="q39:Direccion1" />
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/ServidrorPizzaItaliana" minOccurs="0" name="rol" nillable="true" type="q40:Rol1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DevuelveCuentas2">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/ServidrorPizzaItaliana" minOccurs="0" name="empleado" nillable="true" type="q41:Empleado1" />
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/ServidrorPizzaItaliana" minOccurs="0" name="direccion" nillable="true" type="q42:Direccion1" />
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/ServidrorPizzaItaliana" minOccurs="0" name="rol" nillable="true" type="q43:Rol1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RespuestaOCU">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mensaje" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarCuentaUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpleadoGenerado" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RespuestaECU">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mensaje" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerReceta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerRecetas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DevuelveReceta">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/ServidrorPizzaItaliana" minOccurs="0" name="receta" nillable="true" type="q44:Receta1" />
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/ServidrorPizzaItaliana" minOccurs="0" name="ingredientes" nillable="true" type="q45:ArrayOfIngrediente1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DevuelveRecetas">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/ServidrorPizzaItaliana" minOccurs="0" name="recetas" nillable="true" type="q46:ArrayOfReceta1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RespuestaIOR">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mensaje" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarProducto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/AccesoBD2" minOccurs="0" name="producto" nillable="true" type="q47:Producto" />
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/AccesoBD2" minOccurs="0" name="categoria" nillable="true" type="q48:Categoria" />
        <xs:element minOccurs="0" name="receta" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RespuestaRP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mensaje" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarReceta">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/AccesoBD2" minOccurs="0" name="receta" nillable="true" type="q49:Receta" />
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/AccesoBD2" minOccurs="0" name="ingredientes" nillable="true" type="q50:ArrayOfIngrediente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RespuestaRR">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mensaje" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerProductos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerMeseros">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerMeserosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/ServidrorPizzaItaliana" minOccurs="0" name="ObtenerMeserosResult" nillable="true" type="q51:ArrayOfEmpleadoPizzeria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarPedidoLocal">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/AccesoBD2" minOccurs="0" name="pedido" nillable="true" type="q52:PedidoLocal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarPedidoLocalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegistrarPedidoLocalResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarDatosPedidoLocal">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/AccesoBD2" minOccurs="0" name="pedido" nillable="true" type="q53:PedidoLocal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarDatosPedidoLocalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModificarDatosPedidoLocalResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DatosRecuperados">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/ServidrorPizzaItaliana" minOccurs="0" name="productos" nillable="true" type="q54:ArrayOfProductoDePedido" />
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/ServidrorPizzaItaliana" minOccurs="0" name="provisiones" nillable="true" type="q55:ArrayOfProvisionVentaDirecta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MensajeAdministrarPedidosMeseros">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mensaje" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarInventario">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DevuelveInventario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/AccesoBD2" minOccurs="0" name="cuentas" nillable="true" type="q56:ArrayOfProvision" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RespuestaCI">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mensaje" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarReceta">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/AccesoBD2" minOccurs="0" name="receta" nillable="true" type="q57:Receta" />
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/AccesoBD2" minOccurs="0" name="ingredinetes" nillable="true" type="q58:ArrayOfIngrediente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RespuestaER">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mensaje" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerarRespaldo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreArchivo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RespuestaGR">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mensaje" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tipoUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotificarPedidoLocalPreparado">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/AccesoBD2" minOccurs="0" name="pedido" nillable="true" type="q59:PedidoLocal" />
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotificarPedidoADomicilioPreparado">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/AccesoBD2" minOccurs="0" name="pedido" nillable="true" type="q60:PedidoADomicilio" />
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarEstadoPedidoLocal">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/AccesoBD2" minOccurs="0" name="pedido" nillable="true" type="q61:PedidoLocal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarEstadoPedidoADomicilio">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/AccesoBD2" minOccurs="0" name="pedido" nillable="true" type="q62:PedidoADomicilio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecibirPedidoLocal">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/AccesoBD2" minOccurs="0" name="pedido" nillable="true" type="q63:PedidoLocal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecibirPedidoDomicilio">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/AccesoBD2" minOccurs="0" name="pedido" nillable="true" type="q64:PedidoADomicilio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MensajeNotificarPedido">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mensaje" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarPedidosCallCenter">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarPedidosMesero">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTodosPedidos">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/ServidrorPizzaItaliana" minOccurs="0" name="pedidosADomicilio" nillable="true" type="q65:ArrayOfPedidoADomicilioDeServidor" />
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/ServidrorPizzaItaliana" minOccurs="0" name="pedidosLocales" nillable="true" type="q66:ArrayOfPedidoLocalDeServidor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPedidosLocales">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/ServidrorPizzaItaliana" minOccurs="0" name="pedidosLocales" nillable="true" type="q67:ArrayOfPedidoLocalDeServidor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MensajeErrorBuscarPedidos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mensaje" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>