ClienteItaliaPizza/Connected Services/Servicio/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServidrorPizzaItaliana" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServidrorPizzaItaliana" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Provision1">
    <xs:sequence>
      <xs:element minOccurs="0" name="costoUnitario" type="xs:double" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="noExistencias" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="stockMinimo" type="xs:int" />
      <xs:element minOccurs="0" name="ubicacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="unidadMedida" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Provision1" nillable="true" type="tns:Provision1" />
  <xs:complexType name="ProvisionDirecta1">
    <xs:sequence>
      <xs:element minOccurs="0" name="activado" type="xs:boolean" />
      <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="restricciones" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProvisionDirecta1" nillable="true" type="tns:ProvisionDirecta1" />
  <xs:complexType name="ArrayOfCliente">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Cliente" nillable="true" type="tns:Cliente" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCliente" nillable="true" type="tns:ArrayOfCliente" />
  <xs:complexType name="Cliente">
    <xs:sequence>
      <xs:element minOccurs="0" name="apellidoMaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="apellidoPaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="direcciones" nillable="true" type="tns:ArrayOfDireccionCliente" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="telefonos" nillable="true" type="tns:ArrayOfTelefonoCliente" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Cliente" nillable="true" type="tns:Cliente" />
  <xs:complexType name="ArrayOfDireccionCliente">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DireccionCliente" nillable="true" type="tns:DireccionCliente" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDireccionCliente" nillable="true" type="tns:ArrayOfDireccionCliente" />
  <xs:complexType name="DireccionCliente">
    <xs:sequence>
      <xs:element minOccurs="0" name="calle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="colonia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="numeroExterior" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="numeroInterior" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DireccionCliente" nillable="true" type="tns:DireccionCliente" />
  <xs:complexType name="ArrayOfTelefonoCliente">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TelefonoCliente" nillable="true" type="tns:TelefonoCliente" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTelefonoCliente" nillable="true" type="tns:ArrayOfTelefonoCliente" />
  <xs:complexType name="TelefonoCliente">
    <xs:sequence>
      <xs:element minOccurs="0" name="telefono" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TelefonoCliente" nillable="true" type="tns:TelefonoCliente" />
  <xs:complexType name="ArrayOfProductoDePedido">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductoDePedido" nillable="true" type="tns:ProductoDePedido" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductoDePedido" nillable="true" type="tns:ArrayOfProductoDePedido" />
  <xs:complexType name="ProductoDePedido">
    <xs:sequence>
      <xs:element minOccurs="0" name="categoria" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="descrpcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="precioUnitario" type="xs:double" />
      <xs:element minOccurs="0" name="restricciones" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductoDePedido" nillable="true" type="tns:ProductoDePedido" />
  <xs:complexType name="ArrayOfProvisionVentaDirecta">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProvisionVentaDirecta" nillable="true" type="tns:ProvisionVentaDirecta" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProvisionVentaDirecta" nillable="true" type="tns:ArrayOfProvisionVentaDirecta" />
  <xs:complexType name="ProvisionVentaDirecta">
    <xs:sequence>
      <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idProvision" type="xs:int" />
      <xs:element minOccurs="0" name="idProvisionVentaDirecta" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="precioUnitario" type="xs:double" />
      <xs:element minOccurs="0" name="restricciones" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProvisionVentaDirecta" nillable="true" type="tns:ProvisionVentaDirecta" />
  <xs:complexType name="ArrayOfEstadoDePedido">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EstadoDePedido" nillable="true" type="tns:EstadoDePedido" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEstadoDePedido" nillable="true" type="tns:ArrayOfEstadoDePedido" />
  <xs:complexType name="EstadoDePedido">
    <xs:sequence>
      <xs:element minOccurs="0" name="estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idEstado" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EstadoDePedido" nillable="true" type="tns:EstadoDePedido" />
  <xs:complexType name="ArrayOfProducto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Producto" nillable="true" type="tns:Producto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProducto" nillable="true" type="tns:ArrayOfProducto" />
  <xs:complexType name="Producto">
    <xs:sequence>
      <xs:element minOccurs="0" name="cantidadDisponible" type="xs:int" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nombreProducto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ubicacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="unidadDeMedida" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Producto" nillable="true" type="tns:Producto" />
  <xs:complexType name="CuentaUsuario1">
    <xs:sequence>
      <xs:element minOccurs="0" name="contraseña" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nombreUsuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CuentaUsuario1" nillable="true" type="tns:CuentaUsuario1" />
  <xs:complexType name="Empleado1">
    <xs:sequence>
      <xs:element minOccurs="0" name="activado" type="xs:boolean" />
      <xs:element minOccurs="0" name="apellidoMaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="apellidoPaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="correo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idEmpleado" type="xs:long" />
      <xs:element minOccurs="0" name="idEmpleadoGenerado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="telefono" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Empleado1" nillable="true" type="tns:Empleado1" />
  <xs:complexType name="Direccion1">
    <xs:sequence>
      <xs:element minOccurs="0" name="calle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="codigoPostal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="colonia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="numeroExterior" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="numeroInterior" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Direccion1" nillable="true" type="tns:Direccion1" />
  <xs:complexType name="Rol1">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="rol" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Rol1" nillable="true" type="tns:Rol1" />
  <xs:complexType name="Receta1">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nombreReceta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="porciones" type="xs:double" />
      <xs:element minOccurs="0" name="procedimiento" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Receta1" nillable="true" type="tns:Receta1" />
  <xs:complexType name="ArrayOfIngrediente1">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Ingrediente1" nillable="true" type="tns:Ingrediente1" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfIngrediente1" nillable="true" type="tns:ArrayOfIngrediente1" />
  <xs:complexType name="Ingrediente1">
    <xs:sequence>
      <xs:element minOccurs="0" name="cantidad" type="xs:int" />
      <xs:element minOccurs="0" name="costoPorUnidad" type="xs:double" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="peso" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="unidad" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Ingrediente1" nillable="true" type="tns:Ingrediente1" />
  <xs:complexType name="ArrayOfReceta1">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Receta1" nillable="true" type="tns:Receta1" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReceta1" nillable="true" type="tns:ArrayOfReceta1" />
  <xs:complexType name="ArrayOfMesaLocal">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MesaLocal" nillable="true" type="tns:MesaLocal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMesaLocal" nillable="true" type="tns:ArrayOfMesaLocal" />
  <xs:complexType name="MesaLocal">
    <xs:sequence>
      <xs:element minOccurs="0" name="idMesa" type="xs:int" />
      <xs:element minOccurs="0" name="numeroMesa" type="xs:short" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MesaLocal" nillable="true" type="tns:MesaLocal" />
  <xs:complexType name="ArrayOfProvision1">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Provision1" nillable="true" type="tns:Provision1" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProvision1" nillable="true" type="tns:ArrayOfProvision1" />
  <xs:complexType name="ArrayOfProvisionDirecta1">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProvisionDirecta1" nillable="true" type="tns:ProvisionDirecta1" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProvisionDirecta1" nillable="true" type="tns:ArrayOfProvisionDirecta1" />
</xs:schema>