ClienteItaliaPizza/Connected Services/Servicio/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServidrorPizzaItaliana" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServidrorPizzaItaliana" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfProducto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Producto" nillable="true" type="tns:Producto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProducto" nillable="true" type="tns:ArrayOfProducto" />
  <xs:complexType name="Producto">
    <xs:sequence>
      <xs:element minOccurs="0" name="cantidadDisponible" type="xs:int" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nombreProducto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ubicacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="unidadDeMedida" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Producto" nillable="true" type="tns:Producto" />
</xs:schema>