ClienteItaliaPizza/Connected Services/Servicio/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AccesoBD2" />
  <xs:import schemaLocation="http://localhost:8080/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ServidrorPizzaItaliana" />
  <xs:element name="BuscarPorNombre">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreProducto" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarPorID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idProducto" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProvicionDirecta">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AccesoBD2" minOccurs="0" name="provDir" nillable="true" type="q1:ProvisionDirecta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Provision">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AccesoBD2" minOccurs="0" name="prov" nillable="true" type="q2:Provision" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ErrorAlRecuperarProducto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mensajeError" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerDatos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarPedido">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AccesoBD2" minOccurs="0" name="pedido" nillable="true" type="q3:PedidoADomicilio" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/AccesoBD2" minOccurs="0" name="cuenta" nillable="true" type="q4:Cuenta" />
        <xs:element minOccurs="0" name="idEstado" type="xs:int" />
        <xs:element minOccurs="0" name="idEmpleado" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/AccesoBD2" minOccurs="0" name="cliente" nillable="true" type="q5:Cliente" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/AccesoBD2" minOccurs="0" name="direccionCliente" nillable="true" type="q6:Direccion" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/AccesoBD2" minOccurs="0" name="telefonoCliente" nillable="true" type="q7:Telefono" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Datos">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ServidrorPizzaItaliana" minOccurs="0" name="clientes" nillable="true" type="q8:ArrayOfCliente" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ServidrorPizzaItaliana" minOccurs="0" name="productos" nillable="true" type="q9:ArrayOfProductoDePedido" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ServidrorPizzaItaliana" minOccurs="0" name="provisiones" nillable="true" type="q10:ArrayOfProvisionVentaDirecta" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/ServidrorPizzaItaliana" minOccurs="0" name="estados" nillable="true" type="q11:ArrayOfEstadoDePedido" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Mensaje">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mensaje" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarIngrediente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/AccesoBD2" minOccurs="0" name="provision" nillable="true" type="q12:Provision" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Respuesta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mensajeError" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarIngredientePorNombre">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreProducto" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarIngredientePorID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idProducto" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ingrediente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/AccesoBD2" minOccurs="0" name="prov" nillable="true" type="q13:Provision" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ErrorAlRecuperarIngrediente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mensajeError" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Editar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/AccesoBD2" minOccurs="0" name="provision" nillable="true" type="q14:Provision" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RespuestaEditarIngrediente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mensajeError" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Modificar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/AccesoBD2" minOccurs="0" name="provision" nillable="true" type="q15:Provision" />
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/AccesoBD2" minOccurs="0" name="provDirecta" nillable="true" type="q16:ProvisionDirecta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RespuestaModificarProducto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mensajeError" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecuperarProductos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Productos">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/ServidrorPizzaItaliana" minOccurs="0" name="productos" nillable="true" type="q17:ArrayOfProducto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ErrorAlRecuperarProductos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mensajeError" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IniciarSesion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contraseña" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DevuelveCuenta">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/AccesoBD2" minOccurs="0" name="cuenta" nillable="true" type="q18:CuentaUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RespuestaLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mensaje" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarCuentaUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/AccesoBD2" minOccurs="0" name="cuenta" nillable="true" type="q19:CuentaUsuario" />
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/AccesoBD2" minOccurs="0" name="empleado" nillable="true" type="q20:Empleado" />
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/AccesoBD2" minOccurs="0" name="direccion" nillable="true" type="q21:Direccion" />
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/AccesoBD2" minOccurs="0" name="rol" nillable="true" type="q22:Rol" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarCuentaUsuario2">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/AccesoBD2" minOccurs="0" name="empleado" nillable="true" type="q23:Empleado" />
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/AccesoBD2" minOccurs="0" name="direccion" nillable="true" type="q24:Direccion" />
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/AccesoBD2" minOccurs="0" name="rol" nillable="true" type="q25:Rol" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RespuestaRCU">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mensaje" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarCuentaUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/AccesoBD2" minOccurs="0" name="cuenta" nillable="true" type="q26:CuentaUsuario" />
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/AccesoBD2" minOccurs="0" name="empleado" nillable="true" type="q27:Empleado" />
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/AccesoBD2" minOccurs="0" name="direccion" nillable="true" type="q28:Direccion" />
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/AccesoBD2" minOccurs="0" name="rol" nillable="true" type="q29:Rol" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RespuestaMCU">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mensaje" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerCuentas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DevuelveCuentas">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/ServidrorPizzaItaliana" minOccurs="0" name="cuentas" nillable="true" type="q30:ArrayOfCuentaUsuario1" />
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/ServidrorPizzaItaliana" minOccurs="0" name="empleados" nillable="true" type="q31:ArrayOfEmpleado1" />
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/ServidrorPizzaItaliana" minOccurs="0" name="direcciones" nillable="true" type="q32:ArrayOfDireccion1" />
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/ServidrorPizzaItaliana" minOccurs="0" name="roles" nillable="true" type="q33:ArrayOfRol1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RespuestaOCU">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mensaje" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarCuentaUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RespuestaECU">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mensaje" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerRecetas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DevuelveRecetas">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/ServidrorPizzaItaliana" minOccurs="0" name="receta" nillable="true" type="q34:ArrayOfReceta1" />
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/ServidrorPizzaItaliana" minOccurs="0" name="ingredientes" nillable="true" type="q35:ArrayOfIngrediente1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RespuestaIOR">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mensaje" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarProducto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/AccesoBD2" minOccurs="0" name="producto" nillable="true" type="q36:Producto" />
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/AccesoBD2" minOccurs="0" name="categoria" nillable="true" type="q37:Categoria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RespuestaRP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mensaje" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarReceta">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/AccesoBD2" minOccurs="0" name="receta" nillable="true" type="q38:Receta" />
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/AccesoBD2" minOccurs="0" name="ingredientes" nillable="true" type="q39:ArrayOfIngrediente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RespuestaRR">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mensaje" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerInformacionDeProductosYEstados">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarPedidoLocal">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/AccesoBD2" minOccurs="0" name="pedido" nillable="true" type="q40:PedidoLocal" />
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/AccesoBD2" minOccurs="0" name="cuenta" nillable="true" type="q41:Cuenta" />
        <xs:element minOccurs="0" name="idEstado" type="xs:int" />
        <xs:element minOccurs="0" name="idEmpleado" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DatosRecuperados">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/ServidrorPizzaItaliana" minOccurs="0" name="productos" nillable="true" type="q42:ArrayOfProductoDePedido" />
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/ServidrorPizzaItaliana" minOccurs="0" name="provisiones" nillable="true" type="q43:ArrayOfProvisionVentaDirecta" />
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/ServidrorPizzaItaliana" minOccurs="0" name="estados" nillable="true" type="q44:ArrayOfEstadoDePedido" />
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/ServidrorPizzaItaliana" minOccurs="0" name="mesas" nillable="true" type="q45:ArrayOfMesaLocal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MensajeRegistrarPedidoLocal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mensaje" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarInventario">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DevuelveInventario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/ServidrorPizzaItaliana" minOccurs="0" name="cuentas" nillable="true" type="q46:ArrayOfProvision1" />
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/ServidrorPizzaItaliana" minOccurs="0" name="empleados" nillable="true" type="q47:ArrayOfProvisionDirecta1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RespuestaCI">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mensaje" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarReceta">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/AccesoBD2" minOccurs="0" name="receta" nillable="true" type="q48:Receta" />
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/AccesoBD2" minOccurs="0" name="ingredinetes" nillable="true" type="q49:ArrayOfIngrediente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RespuestaER">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mensaje" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerarRespaldoAutomatico">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreArchivo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RespuestaGR">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mensaje" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>